

div.jMyCarousel .prev{
	background: url('../images/left.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

div.jMyCarousel .next{
	background: url('../images/right.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
}



/** Carousel 2 **/
div.jMyCarousel{
	width: 650px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

div.jMyCarousel ul{
	width: 650px;
}

div.jMyCarousel ul li{
	line-height:0px;
	padding:3px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

div.jMyCarousel ul li a{ /* in case of link */
	display:block;
	margin:0px;
	padding:0px;
}

div.jMyCarousel ul li a img{
	display:block;
	border:thin solid #CCCCCC;
	margin-bottom:0px;
	padding-bottom:5px;
	background-color: #FFFFFF;
	height: 75px;
	width: 122px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
