/* Menu 3 starts here */
#menu1 {
	width: 150px;
	float:left;
	margin-bottom: 10px;
	background-color: #F9F9F9;
}

#menu1 ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type: circle;
list-style-position:inside;
margin:0;
padding:0;
}
#menu1 li
{
	display: inline;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #006699;/* for IE5 and IE6 */
}

#menu1 a
{
	color: #666666;
	text-decoration: none;
	font-size: 11px;
	display: block;
	width: 134px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #006699;
}

#menu1 a:link, #menu3 a:visited
{
color: #666666;
text-decoration: none;
}

#menu1 a:hover
{
	color: #FFFFFF;
	background-color: #006699;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

#menu1 li a#titulo
{
	border-left: 3px solid #006699;
	color: #F2F2F2;
	background-color: #006699;
}
/* Menu 3 ends here */

/* Menu 2 starts here */
#menu2 {
	width: 150px;
	float:left;
	margin-bottom: 10px;
	background-color: #F9F9F9;
}

#menu2 ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type: circle;
list-style-position:inside;
margin:0;
padding:0;
}
#menu2 li
{
	display: inline;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #006699;/* for IE5 and IE6 */
}

#menu2 a
{
	color: #666666;
	text-decoration: none;
	font-size: 11px;
	display: block;
	width: 134px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #669900;
}

#menu2 a:link, #menu3 a:visited
{
color: #666666;
text-decoration: none;
}

#menu2 a:hover
{
	color: #FFFFFF;
	background-color: #669900;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

#menu2 li a#titulo
{
	color: #F7F7F7;
	background-color: #669900;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #669900;
}
/* Menu 3 ends here */

