/* Basic styles----------------------------------------------------------------- */
body {  
	margin: 5px 7px 5px 5px;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, table {
	 margin: 1em 10px;
	 padding: 0;
	 text-align: left;
}

ul {	margin-top:5px;}
ul, ol {
	margin-left: 2.5em;
}

h1 {
	text-align: left;
	font-size: 1.4em;
	margin-top: .5em;
}

h2 {
	font-size:1.2em;
}

h3 {
	font-size:1.1em;
}

p {
	margin-top: 1.25em;
	margin-bottom: .75em;
	line-height: 1.4em;
}

a img {
	border: 0;
}

acronym {
	font-style: normal;  
	/* border-bottom: 1px dotted; */
}

/* ANSS site uses this ... */
.indent {
	margin-left:50px;
}

.error {
	font-weight:bold;
	color:#FF0000;
}
	
/* Define width of parent containers / define fluidity limits ------------------------------------ */
#header, #eq-program, #nav-site, #nav-bcrumb, #content, #nav-sub, #footer {
	width:100%;
	min-width: 805px;
	/* min-width: 775px; */
	/*max-width: 1000px;*/
}

/* Header----------------------------------------------------------------- */
#header #nav-skip {
	display: none;
}

/* Navbars----------------------------------------------------------------- */

/* ----- Site-wide navbars (top / bottom horizontal navigation) ----- */
#nav-site {
	float: left;
	padding: 0;
	border-top:1px #FFF solid;
}

#nav-sub {
	float: left;
	padding: 0;
	border-bottom: 1px #FFF solid;
}

#nav-site ul, #nav-sub ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font: .95em "Lucida Grande", Verdana, sans-serif;
}

#nav-site li, #nav-sub li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: normal;
	text-indent: 0;
}

#nav-site a, #nav-sub a {
	display: block;
	padding: 4px 5px 4px 5px;
	text-decoration: none;
	white-space: nowrap;  
	/*border: 1px solid #FFF;*/
}

/*#nav-site strong a, #nav-site strong a:hover {  font-weight: bold;}*/

/* ----- Breadcrumb ----- */
#nav-bcrumb {
	border: solid #FFF;
	border-width: 0;
	padding: 4px 0 1px 0;
	clear: both;
}

#nav-bcrumb p {
	margin: 0;
	padding: 0;
	font: .75em Arial, Helvetica, sans-serif;
}

#nav-bcrumb p a {
	text-decoration: none;
	margin: 0 5px;
}

#nav-bcrumb p a:hover {
	text-decoration: underline;
}

#nav-bcrumb p strong {
	font-weight: normal;
	margin-left: 5px;
}

/* ----- Left sidebar ----- */
#nav-main {
	width: 178px;  float: left;
}

#nav-main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav-main ul li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

#nav-main ul li a {
	display: block;
	padding: 3px 5px;
	margin: 0;
	text-decoration: none;
	font: .95em Arial, Helvetica, sans-serif;
}

#nav-main ul li strong a {
	font-weight: normal;
}

/* --- START: hank tertiary nav --- */	
/*
#nav-main ul ul li{
	line-height: .95em;
	margin: 0;
	padding: 0;
}

#nav-main ul ul li a {
	display: block;
	padding: 2px 7px;
	margin: 0;
	text-decoration: none;
	font: .90em Arial, Helvetica, sans-serif;
}
*/
/* --- END: hank tertiary nav ----- */	

/* --- NEW tertiary nav --- */
#nav-main ul ul li a {
	padding-left:25px;
}


/* Main page content----------------------------------------------------------------- */
#content {
	float: left;
	border: 1px solid #FFF;
	border-left:1px solid #CCC;
}

.three-column #wrapper1 {
	/*background: url(../images/bg_sidebar.gif) repeat-y right;*/
	/*margin-right: 6px;*/
}

#wrapper2 {
	width: 100%;
	float: left;
}

.three-column #wrapper2 {
	margin-right: -140px;
}

.three-column #wrapper3 {
	margin-right: 140px;
}

#main {
	margin-left: 180px;
}

/* Sidebar----------------------------------------------------------------- */
#sidebar {  width: 140px;  float: right;}
.two-column #sidebar {  display: none;}

/* Extras----------------------------------------------------------------- */
#nav-sub-right {
	float:right;
}

#nav-main hr, #nav-bcrumb hr, #nav-sub hr, #footer hr, hr.hide {
	display: none;
}

.et_sel {
	font-weight:bold;
}
