/* { border: 1px solid black !important }*/
body {background: #dddddd;font-family: "Arial CE", Arial, helvetica, sans-serif;font-size:1em;font-weight:bold;text-align:center;}
img {border:0px;}
fieldset {width:16em;padding:1.0em;border: 3px solid #999933;margin-right:auto;margin-left:auto;}
label {float:left; width:4em; margin-left:0.3em;margin-right:0.5em; padding-top:0.1em; text-align:left; font-weight:bold; clear: left}
select {width: 12em;}
p {margin-bottom:0em;margin-top:0.5em;}
