/* CSS RPANEL */

/* INICIO: body  */
body {
	background-color: #fff;
	bgcolor: #F7F7F7;
	margin:0px 0px;
	padding:0px;
}
/* FIN: body  */

/* INICIO: Estilos Para Menu  */
.menuHover{
	background-color: #F37D01;
	font-family: Verdana;
	font-size: 10px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: right;
	letter-spacing: -1px;
	padding-right: 7px;
}
.menuHover A:LINK {color : #E5D3D3; text-decoration : none;}
.menuHover A:VISITED {color : #E5D3D3; text-decoration : none;}
.menuHover A:ACTIVE {color : #E5D3D3; text-decoration : none;}
.menuHover A:HOVER {color : #FFFFFF; text-decoration : none;}

.menuNormal{
	background-color: #EBEBEB;
	font-family: Verdana;
	font-size: 10px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 7px;
	text-align: right;
	letter-spacing: -1px;
}

.menuNormal A:LINK {color : #555E77; text-decoration : none;}
.menuNormal A:VISITED {color : #555E77; text-decoration : none;}
.menuNormal A:ACTIVE {color : #555E77; text-decoration : none;}
.menuNormal A:HOVER {color : #FFFFFF; text-decoration : none;}

.menuCabecera{
	background-color: #555E77;
	font-family: Verdana;
	color: #fff;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 7px;
	text-align: center;
	letter-spacing: -1px;
}
/* FIN: Estilos Para Menu  */

/* INICIO: Texto Ruta  */
.textoRuta{
	background-color: #fff;
	font-family: Verdana;
	font-size: 10px;
	color: #333;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 7px;
	text-align: left;
	border: 1px dashed #000;
	letter-spacing: -1px;
}
/* FIN: Texto Ruta  */

/* INICIO: Texto Contenido */
.texto-contenido {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	text-align: justify;
	line-height: 15px;
	padding-left: 5px;

	}
	
.texto-contenido A:LINK {color : #4992A5; text-decoration : none;}
.texto-contenido A:VISITED {color : #4992A5; text-decoration : none;}
.texto-contenido A:ACTIVE {color : #4992A5; text-decoration : none;}
.texto-contenido A:HOVER {color : #333333; text-decoration : underline;}

.texto-contenido OL, LI{
	font-family: Verdana;
	font-size: 10px;
	color : #000;
}
/* FIN: Texto Contenido */

/* INICIO: Texto Tablas */
.texto-tablas {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-align: left;
	padding-left: 5px;
	background: #EBEBEB;
	line-height: 15px;
}
	
.texto-tablas A:LINK {color : #666666; text-decoration : none;}
.texto-tablas A:VISITED {color : #666666; text-decoration : none;}
.texto-tablas A:ACTIVE {color : #666666; text-decoration : none;}
.texto-tablas A:HOVER {color : #333333; text-decoration : underline;}
/* FIN: Texto Tablas */

/* INICIO: Texto en cuadrado  */
.texto-ver {
	border:1px solid #e4e4e4;
	background-color:#f5f5f5;
}
/* FIN: Texto en cuadrado  */

/* INICIO: Ve Mensaje  */
#veMensaje {
overflow:auto;
clip:auto;
border:1px solid black;
width:98%;
height:100px;
}
/* FIN: Ve Mensaje  */



/* INICIO: formularios */
select {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #333;
	background-color:#e5e5e5;
 }

textarea { 
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	background-color:#fff;
}
/* INICIO: formularios */

/* INICIO: Boton en Formulario  */
#formlist input.btn {
color:#333;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
   background-color:#F37D01;
   border:1px solid;
   border-top-color:#333;
   border-left-color:#333;
   border-right-color:#666;
   border-bottom-color:#666;
   text-align: center;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#F37D01');
}

#formlist input.btnhov{
   border-top-color:#e5e5e5;
   border-left-color:#e5e5e5;
   border-right-color:#000;
   border-bottom-color:#000;
}

#FMuestra input.btn {
color:#555E77;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
   background-color:#fff;
   border:1px solid;
   border-top-color:#666;
   border-left-color:#666;
   border-right-color:#666;
   border-bottom-color:#666;
   text-align: center;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#cdcdcd');
}

#FMuestra input.btnhov{
   border-top-color:#F37D01;
   border-left-color:#F37D01;
   border-right-color:#F37D01;
   border-bottom-color:#F37D01;
}

/* FIN: Boton en Formulario  */

/* >>>>> MAINCOL <<<<< */
#maincol { 
	background-color: #fff;
 }
#maincol H1 {
color:#555E77;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
}
/* >>>>> MAINCOL <<<<< */

/* >>>>> INFORMA <<<<< */
.informa { 
color:#555E77;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.informa-texto {
	color:#555E77;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}
.informa-texto UL, LI {
	color:#555E77;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}
/* >>>>> INFORMA <<<<< */

/* INICIO: Pie de Pagina  */
.piePagina {
	font-family: Verdana;
	font-size: 10px;
	color: #333;
	border: 1px solid #000;
	text-align: center;
	letter-spacing: -1px;
}
/* FIN: Pie de Pagina  */
